:root {
    color-scheme: light dark;
}

body {
    color: light-dark(#333b3c #efefec);
    background-color: light-dark(#efedea, #223a2c);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
}