<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Average Budget for {{ lang }} Language Movies by Release Year</title>
    <h1>Average Budget for {{ lang }} Language Movies by Release Year (from sample of 5000 movies from TMDb)</h1>
</head>

<body>
    
    <form method="POST">
        <div class="container">
            <div class="child">
                <select name="language" id="language">
                    <option value="invalid" selected disabled>Select a language</option>
                    {% for sellang in langs %}
                        <option value="{{sellang}}">{{sellang}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="child">
                <select name="secondary" id="secondary">
                    <option value="credits" selected>Total Credits Count</option>
                    <option value="crew">Crew Count</option>
                    <option value="cast">Cast Count</option>
                    <option value="runtime">Runtime</option>
                    <option value="revenue">Revenue</option>
                </select>
            </div>
            <div class="child">
                <select name="color1" id="color1">
                    <option value="red">Red</option>
                    <option value="orange">Orange</option>
                    <option value="yellow">Yellow</option>
                    <option value="green">Green</option>
                    <option value="blue" selected>Blue</option>
                    <option value="indigo">Indigo</option>
                    <option value="violet">Violet</option>
                    <option value="black">Black</option>
                </select>
            </div>
            <div class="child">
                <select name="color2" id="color2">
                    <option value="red" selected>Red</option>
                    <option value="orange">Orange</option>
                    <option value="yellow">Yellow</option>
                    <option value="green">Green</option>
                    <option value="blue">Blue</option>
                    <option value="indigo">Indigo</option>
                    <option value="violet">Violet</option>
                    <option value="black">Black</option>
                </select>
            </div>
        </div>
        <button type="submit" id="submit" disabled>Submit</button>
    </form>

    <script>
        const dropdown = document.getElementById('language');
        const submit_button = document.getElementById('submit');
        document.getElementById('language').addEventListener('change', () => {
            if (dropdown.value === "invalid") {
                submit_button.disabled = true;
            } else {
                submit_button.disabled = false;
            }
        });
    </script>

    <p></p>

    <img src="{{ url }}" alt="Chart" height="750" width="1000">
</body>
